<footer class="footer">
  <div class="footer-content">
    <div class="left-section">
      <p>Designed by Abdul Zahid &#64; 2025</p>
    </div>
    <div class="right-section">
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-discord"></i></a>
      
    </div>
  </div>
</footer>