<div class="bg-animation"></div>
<div class="container">
  <h2 class="text-center mb-4">Projects</h2>
  <p class="text-center mb-5">
    Here are some of the projects I have worked on. Click on the GitHub button to view the source code.
  </p>
  <div class="card" style="background-color: transparent; border: none; box-shadow: none;">
    <p-carousel
      [value]="projects"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="10000"
    >
      <ng-template let-project pTemplate="item" >
        <div class="carousel-card p-2 m-2" style="border: 1px solid #ccc; border-radius: 0.75rem; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
          <img [src]="project.image" [alt]="project.name" style="width: 20rem;height: 15rem; object-fit: cover; border-radius: 0.75rem;" />
          <div class="card-body">
            <h5>{{ project.name }}</h5>
            <small>{{ project.Technology }}</small>
            <p>{{ project.description }}</p>
            <a [href]="project.link" target="_blank" class="btn btn-outline-dark w-100 mt-2">
              <i class="fa-brands fa-github me-2"></i> Github
            </a>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>